body{
    background-image: url("pingouin.png");
    background-size: cover;
    background-color: firebrick;
}




h1{
    color: azure;
    font-size: 42px;
}

h2{
    color: aliceblue;
    font-size: 34px;

}

p{
    color: aliceblue;
    font-size: 22px;


}

.section{
    background-color: darkmagenta;
}

.article{
    background-color: darkolivegreen;
    margin-left: 20px;
}